<div id="garden-2">


<div id="left_menu">
    cat picture? <br>
    <%= @cat.name %><br><br>
    <%= button_to 'Edit Your Cat', edit_cat_path(@cat), :method => :get, class: "genericButton" %><br>
    <%= button_to 'Delete Your Cat', cats_path, :action => :destroy, :method => :delete, data: {confirm: 'Are you sure you want to delete this cat? This action cannot be undone.'}, class: "warningButton" %>

</div>



<div class="play_button">
   
    
    <%= form_tag 'Play', :method => :get do %>
        <%= submit_tag '' %>
    <% end %>   

</div>

<div id="right_menu">
    <%= button_to 'High Scores', '/high_scores', :method => :get, class: "genericButton" %><br>

    <%= button_to 'My Stats', '/cat_stats', :method => :get, class: "genericButton" %><br>

    <%= button_to 'Rules', '/rules', :method => :get, class: "genericButton" %><br>

    <%= button_to 'My Account', '/account', :method => :get, class: "genericButton" %><br>
</div>

</div>

