<div>
    <%# @cat.img_url inside an image tag %>
    <%# @cat.name %>
    <%= button_to 'Edit Your Cat', "/cats/edit", :method => :get %>
    <%= button_to 'Delete Your Cat', cats_path, :action => :destroy, :method => :delete, data: {confirm: 'Are you sure you want to delete this cat? This action cannot be undone.'} %>

</div>

<div>
    <%# how can we make a picture a button? CSS yo %>
    <%= form_tag 'Play', :method => :get do %>
        <%= submit_tag 'Play' %>
    <% end %>   

</div>

<div>
    <%= button_to 'High Scores', '/cats/high_scores' %><br>

    <%= button_to 'My Stats', '/cats/stats' %><br>

    <%= button_to 'Rules', '/application/rules' %><br>

</div>