<div id="garden-3">

<img src=<%=session[:catpics].sample%> id="catpic" alt='A picture of a happy cat'>
<h1 id="title">Top Cat</h1>
<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <h2 id="flash"><%= msg %></h2>
    <% end %>
<% end %>

<div id="new_form">
<%= form_for @user do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br><br>
    
    <%= f.submit 'Sign Up'%>
<% end %>
</div>

</div>
