<div id="garden-2">
<h1 id="heading-3"><%= @event.title %></h1><br>
<h2 id="sub_heading-2"><%= @event.description %></h2><br>

<div>
<img src=<%=@event.img_url%> class="eventpic">
</div>
<div id="central_button">
<h4>Stat Effects:</h4>
<p>
    Hunger: <%= @event.hunger_score %><br>
    Scraggliness: <%= @event.scraggliness_score %><br>
    Lives: <%= @event.lives_score %><br>
    Neighborhood Cred: <%= @event.cred_score %><br>

</p>
</div>

<h3 id="travel_button"><%= button_to "Return to Neighborhood", neighborhood_path(@event.neighborhood), :method => :get, class: "genericButton" %></h3>

</div>

