<div id="garden-2">

<h1 id="heading-2"><%= @neighborhood.name %></h1>
<p id="sub_heading-2"><%= @neighborhood.description %></p>
<h4 id="cred"><%= @neighborhood.cred(@territory) %></h4>

<% @count = 1 %>
<% @neighborhood.families.each do |fam| %>
    <div id="family-<%=@count%>">
    <h3><%= button_to fam.name, family_path(fam), :method => :get %></h3>
    <p><%= fam.description %></p>
    </div>
    <% @count += 1 %>
<% end %>

<h3 id="travel_button"><%= button_to "(Picture of paw prints?)", '/exit_neighborhood', :method => :get %></h3>
</div>
    