<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.description %></p>
<h4><%= @neighborhood.cred(@territory) %></h4>

<h2>Families:</h2>
<% @neighborhood.families.each do |fam| %>
    <h3><%= button_to fam.name, family_path(fam), :method => :get %></h3>
    <p><%= fam.description %></p>
<% end %>

<h3><%= button_to "Travel to Another Neighborhood (Picture of paw prints?)", '/exit_neighborhood', :method => :get %></h3>
    