<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.description %></p>
<h4><%= @neighborhood.cred(@territory) %></h4>

<h2>Families:</h2>
<% @neighborhood.families.each do |fam| %>
    <h3><%= button_to fam.name, family_path(fam), :method => :get %></h3>
    <p><%= fam.description %></p>
<% end %>


<h6>Travel to Another Neighborhood</h6>

<h3><%= button_to "Picture of paw prints?", neighborhoods_path, :method => :get %></h3>
    