<div id="garden-3">

<% if @cat.img_url %>
<div id="catpic">
<img src=<%=@cat.img_url%> id="catpic" alt='A picture of the user's cat'>
</div>
<% end %>

 
<div id="new_form">
<%= form_for @cat do |c| %>

    <%= c.label :img_url, "Pick a Kitty:" %><br>
    <%= c.select :img_url, options_for_select(@menupics) %><br>
    
    <%= c.label :name %><br>
    <%= c.text_field :name %><br>
    
    <%= c.label :breed %><br>
    <%= c.text_field :breed %><br>
    
    <%= c.label :description %><br>
    <%= c.text_area :description, :maxlength => 150 %><br>

    <%= c.submit %>
<% end %>
</div>
</div>