<%# it would be great to add logic for flavor text on these. %>

<div id="left_menu">
<h3><%= @cat.name %>'s Stats</h3>
<br><%= @cat.name %> has <%= @cat.lives %> lives left.
<br><%= @cat.name %> has a hunger score of <%= @cat.hunger %>.
<br><%= @cat.name %> has a scraggliness score of <%= @cat.scraggliness %>.
<br><%= @cat.name %>'s favorite family is <%= @cat.favorite_family %>.
<br>
<% if @cat.territories %>
    <%= @cat.name %> is known in the following neighborhoods:<br>
    <% @cat.territories.each do |t| %>
        <%= @cat.name %> has <%= t.cred %> cred in <%= t.neighborhood_name %>.<br>
    <% end %>
<% else %>
    <% @cat.name %> isn't known in any neighborhoods yet.
<% end %>
</div>