<!DOCTYPE html>
<html>
  <head>
    <title>TopCatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/application.css">


  </head>
  
    <div class="ui teal inverted menu">
      <a href="/" class="item">
        <h1>Top Cat</h1>
      </a>
        <div class="item"><img src="https://image.flaticon.com/icons/svg/24/24674.svg" alt="whiskers"></div>
  <% if logged_in? %>
      <div class="item">
        User: <%= session[:user]["username"] %><br><br>Cat: <%= session[:cat]["name"] %>
      </div>
  <% end %>

  <% if !playing? && %>

      <div class="right menu">
        <% if logged_in? %>
        <%= link_to 'Logout', logout_path, {class: 'item', method: :delete} %>
        <% end %>
      </div>
    </div>

  <% else %>

      <div class="item">
        Hunger: <%= @cat.hunger %><br><br>
        Scraggliness: <%= @cat.scraggliness %>
      </div>
      <div class="item">
        Lives: <%= @cat.lives %>
      </div>
      <div class="item">
        <% if session[:actions] %>
          Actions: <%= 5 - session[:actions] %>
        <% end %>
      </div>
      <div class="right menu">
            <% if logged_in? %>
            <%= link_to 'Logout', logout_path, {class: 'item', method: :delete} %>
            <% end %>
      </div>
      <div class="right menu">
            <% if logged_in? %>
            <%= link_to 'Groom Yourself', '/groom', {class: 'item', method: :get} %>
            <% end %>
      </div>
      <div class="right menu">
            <% if logged_in? %>
            <%= link_to 'Forage for food', '/forage', {class: 'item', method: :get} %>
            <% end %>
      </div>
    </div>

  <% end %>

    <body>
      
          <%= yield %>
       
    </body>

</html>
